{% extends 'layouts/base_register.html' %}
{% load static %}
{% block content %}
                <h1 style="margin-bottom: 15px">Log in</h1>
                <h6 style="color: red; margin-bottom: 50px">Sorry, wrong password</h6>


                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Проверить меня</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Log in</button>
                </form>
{% endblock %}
