{% extends 'layouts/base_register.html' %}
{% load static %}
{% block content %}
                <h1 style="margin-bottom: 15px">Registration</h1>
                <h6 style="color: red; margin-bottom: 50px">Sorry, this email address already registered</h6>


                <form>
                  <div class="mb-3">
                    <label for="exampleInputLogin" class="form-label">Login</label>
                    <input type="email" class="form-control" id="exampleInputLogin" aria-describedby="emailHelp">
                  </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputNickname" class="form-label">Nickname</label>
                    <input type="email" class="form-control" id="exampleInputNickname" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2">
                  </div>
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Upload avatar</label>
                      <input class="form-control" type="file" id="formFile">
                    </div>
                  <button type="submit" class="btn btn-primary">Register</button>
                </form>
{% endblock %}