{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    <h1>{{ tag.title }}</h1>
    <a href="{% url 'hot' %}">New Questions</a>
{% endblock %}

{% block content %}
            <div class="col-9">
                <div class="d-flex flex-column gap-3">
                    {% for question in questions %}
                        {% include 'layouts/question_card.html' %}
                    {% endfor %}
                </div>
                    {% include 'layouts/pagination.html' %}
            </div>
{% endblock %}
